<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head.ejs') %>

  <body>
    <header class="main-header">
      <%- include('includes/navigation.ejs') %>
    </header>
    <h1><%=title%>!</h1>
  </body>
</html>
