.features {
  grid-column: center-start / center-end;

  margin: 15rem 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;

  align-items: start;
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  // icon의 크기를 변경하였을때 자동으로 격자 크기를 바꿀수 있게 min-content로 설정함.
  // 아이콘이 차지하고 남은 공간을 주기위한 1fr
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem;

  &__icon {
    fill: $color-primary;
    // svg 이미지에 색상을 넣는 속성
    width: 4.5rem;
    height: 4.5rem;

    grid-row: 1 / span 2;
    // -1을 쓰지 않고 span 2을 쓰는 이유 : -1은 명시적 그리드에서만 동작함

    transform: translateY(-1rem);
    // 아이콘을 위로 올려줌
  }

  &__text {
    font-size: 1.7rem;
  }
}
