<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="phone_book_search_sc.Properties.Settings.phone_bookConnectionString"
            connectionString="Data Source=DESKTOP-1FPI2G7;Initial Catalog=phone_book;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>