.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba($color-white, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  @include respond(tab-port) {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }

  @include respond(phone) {
    transform: skewX(0);
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    // 원 모양을 만듬. 정확히는 봤을때 원모양인것은 아니지만, 네모였을때와는 다르게 글자가 들어오는것을 확인할 수 있음.
    // 첫번째 요소는 원형의 반경, 이경우 50%라고 설정했기때문에 실제 높이(가로,세로)의 50%, 즉, 7.5rem으로 설정됨.
    // 이것을 설정하면 글자를 도형 형태에 맞춰서 정렬된것처럼 보이게 하는것이 가능하다.
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
    overflow: hidden;
    border-radius: 50%;

    @supports(clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)){
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      // 첫번째 요소는 원의 크기를 나타냄.
      -webkit-shape-outside: circle(50% at 50% 50%);
      shape-outside: circle(50% at 50% 50%);
      border-radius: none;
    }

    @include respond(phone) {
      transform: translateX(-3rem) skewX(0);
    }
  }

  &__img {
    height: 100%;
    // 이미지를 figure안에 넣어서 올렸거나, div에 넣는 등 사진을 이용할때는 width나 height값을 반드시 지정해 줘야함. 여기에서는 100%가 &__shape에서 지정한 15rem을 반영함.
    transform: translateX(-4rem) scale(1.4);
    transition: all 0.5s;
    // backface-visibility: hidden;
  }

  &__text {
    transform: skewX(12deg);

    @include respond(phone) {
      transform: skewX(0);
    }
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
  }
}
